
        <div class="container">
            <div class="vector">
                <img [src] ="vector" alt="">
            </div>
            <div class="logoimg">
                <img [src] ="Group41" alt="">
            </div>
    
            <div class="logo">everes</div>
            <nav>
                <a class="active" href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Teams</a>
                <a href="#">Contact</a>
                <button class="login">Log in</button>
            </nav>
        </div>
    