<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
    <div class="footlog">
        <img [src] ="Footlogo">
        <h2>everses</h2>
    </div>
    <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h5 class="pointtwo">Fames ipsum pulvinar dictumst adipiscing et, augue phasellus id sapien.</h5>
    </div>
    <div class="footlinks">
            <a href="#" style="color:#EE3147;">Services</a>
            <a href="#">Marketing</a>
            <a href="#">Web development</a>
            <a href="#">Web Designer</a>
            <a href="#">Branding</a>
    </div>
    <div class="footlinks2">
        <a href="#" style="color:#EE3147;">About</a>
        <a href="#">Our Story</a>
        <a href="#">Team</a>
    </div>
    <div class="footlinks3">
        <a href="#" style="color:#EE3147;">Help</a>
        <a href="#">FAQ'S</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="bottomline"></div>
    <div class="terms">
        <a href="#">Terms and Conditions</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="socialmedia">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter" style="color: #EE3147;"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</footer>