<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <section id="c">
            <div class="service">
                <h1>Our Services</h1>
                <p>With our following service, we provide you with everything you need to build a successful project in the virtual world</p>
                <div class="icon">
                        <i class="fa-solid fa-circle-check"></i>
                        <h6>Speed</h6>
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="quality">Quality</p>
                </div>
                <button class="str">Get Started</button>
            </div>
            <div class="cardbox">
                <i class="fa-solid fa-layer-group"></i>
                <h2>Web Design</h2>
                <p>Good website design means great impression on your visitor.I will design modern websites which will help you reach your conversion goal.</p>
                <a href="#">Learn More</a>
            </div>

            <div class="cardbox2">
                <i class="fa-solid fa-code"></i>
                <h2>Web Developer</h2>
                <p>Good website development means a great visitor impression.I will design modern websites that will help you reach your conversion goal.</p>
                <a href="#">Learn More</a>
            </div>

            <div class="cardbox3">
                <i class="fa-solid fa-lightbulb"></i>
                <h2>Marketing</h2>
                <p>Good advertising for your project in the virtual world needs advertising marketing experts and this is the right place for your requirements</p>
                <a href="#">Learn More</a>
            </div>

            <div class="cardbox4">
                <i class="fa-solid fa-gear"></i>
                <h2>Maintenance</h2>
                <p>Monthly maintenance of your project and show its problems with giving solutions</p>
                <a href="#">Learn More</a>
            </div>
        </section>