<section id="a">
    <div class="jon">
        <img [src] ="johns" alt="">
    </div>
    <div class="text-para">
        Work with the best programmers to grow your business
    </div>
    <div class="paragraph">
        search for a great work,meet clients you're excited to work with and take your carrer to the next level.
    </div>
    <div class="textbox">
        <input type="text" name="email" placeholder="Your email">
        <button class="get">Get Started</button>
    </div>
    <div class="rect">
        <img class="rect" [src] ="Rectangle">
    </div>

    <div class="rect3">
        <img [src] ="rect" alt="">
    </div>
</section>


<div class="company" style="cursor: pointer;">
    <img [src] ="company" alt="">
</div>
<hr>