@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

 #b{
    display: flex;
    width: 40%;
} 

.feature{
    width: 400px;
}

.feature h1{
    font-size: 48px;
    height: 50px;
    margin-left: 70px;
    font-weight: bolder;
    font-style: normal;
}

.feature p{
    font-size: 15px;
    margin-left: 70px;
    width: 350px;
    color: black;
    font-weight: bold;
}

.banner img{
    margin-top: 90px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}


.card{
    position: absolute;
    width: 234px;
    height: 259px;
    left: 480px;
    top: 894.08px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;
}

.card h3{
    width: 112px;
    height: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 24px; */
    color: #55565A;
    padding: 15px;
    margin-top: 70px;
    font-weight: bold;
    letter-spacing: 0;

}

.card p{
    font-size: 12px;
    width: 200px;
    right:17px;
    position: absolute;
    color: black;
    opacity:0.6;
}
.carder{
    position: relative;
    width: 260px;
    height: 259px;
    left: 10px;
    /* float: right; */
    /* top: 894.08px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    margin-left: 260px;
    bottom: 125px;
    border-right: 2px solid gainsboro;
}

.fa-headset{
    width: 39px;
    height: 39px;
    color: #EE3147;
    margin-left: 15px;
    font-size: 39px;
    margin-top: 20px;
    position: absolute;
    margin-bottom: 10px;

}

.fa-credit-card{
    width: 39px;
    height: 39px;
    color: #F04A5E;
    margin-left: 20px;
    font-size: 36px;
    margin-top: 25px;
    position: absolute;
    margin-bottom: 10px;
    opacity: 0.6;
}

.carder h4{
    width: 215px;
    height: 48px;
    margin-top: 90px;
    position: absolute;
    color: #55565A;
    font-weight: bold;
    margin-left: 20px;
    opacity: 0.6;

}

.carder p{
    margin-top: 150px;
    position: absolute;
    margin-right: 20px;
    color: #55565A;
}

.card2{
    position: relative;
    width: 260px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0,);
    margin-left: 560px;
    bottom: 385px;
    left: -18px;
}

.fa-clock{
    width: 39px;
    height: 39px;
    color: #F04A5E;
    margin-left: 20px;
    font-size: 36px;
    margin-top: 25px;
    position: absolute;
    margin-bottom: 10px;
    opacity: 0.6;
}

.card2 h5{
    width: 200px;
    height: 48px;
    margin-top: 90px;
    position: absolute;
    color: #55565A;
    font-weight: bold;
    margin-left: 26px;
    opacity: 0.6;
    font-size: 16px;
    line-height: 24px;
}

.card2 p{
    margin-top: 150px;
    position: absolute;
    margin-right: 15px;
    color: #55565A;
}

 /* Media Queries */

 @media  (max-width:480px){
    .vector img{
        width: 350px;
        height: 240px;
        margin-top: 240px;
        display: none;
    }
    nav {
        margin-left: -1px;
        width: 100%;
        height: 100px;
    }
    nav a{
        font-size: 15px;
        margin-left: 12px;
        padding: 14px;
        width: 100%;
        margin-top: 100px;
    }
    .logoimg{
        left: 15px;
        top: 9px;
    }
    .logo{
        margin-left: 50px;
        margin-top: 9px;
    }
    .text-para{
        font-size: 24px;
        width: 330px;
        margin-left: 32px;
        text-align: center;
    }
    .paragraph{
        font-size: 14px;
        width: 100%;
        margin-left: 19px;
    }
    .textbox input{
        margin-left:44px;
        width: 270px;
    }
    .get{
        margin-top: 30px;
       margin-left: 100px;
    }
    .jon img{
        margin-left: -630px;
        position: absolute;
        background-position: center;
        background-size: cover;
        height: 30vh;
        top: 520px;
    }
    .company img{
        width: 270px;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .company{
        margin-top: 130px;
    }
    .feature h1{
        font-size: 32px;
        margin-left: 75px;
        letter-spacing: 2px;
    }
    .feature p{
        margin-left: 30px;
    }
    /* .card{
        flex-direction: column;
        position: absolute;
        margin-left: -400px;
        margin-top: 230px;
        bottom: 100px;
    }
    .carder{
        margin-top: 290px;
        left: -260px;
        width: 234px;
        height: 259px;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
    }
    .carder p{
       left: -10px;
       text-align: start;
    } */
    .rect img{
        left: -675px;
        width: 370px;
        height: 18vh;
        bottom: -260px;
    }
    .rect3 img{
        left: -17px;
        width: 420px;
        height: 140px;
        margin-top: 225px;
        /* margin-left: 10px; */
    }
    .service h1{
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .service p{
        margin-left: 28px;
        font-size: 14px;
        width: 90%;
    }
    .icon p{
        margin-left: 240px;
        margin-top: -5px;
    }
    .icon h6{
        font-size: 13px;
    }
    .icon{
       margin-left: -90px;
    }
    .service button{
        margin-left: 120px;
    }
    .fa-circle-check{
        margin-left: -80px;
    }
    .card{
        left: 75px;
        margin-top: 390px;
    }
    .carder{
        margin-top: 302px;
        left: -255px;
        border: none;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        width: 235px;
    }
    .card2{
        margin-top: 290px;
        left: -555px;
        border: none;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        width: 235px;
    }
    .card2 p{
        left: -7px;
        opacity: 10;
    }
    .carder p{
        left: -7px;
        opacity: 10;
    }
    .carder h4{
        opacity: 10;
        width: 100%;
        left: -6px;
    }
    .card2 h5{
        opacity: 10;
        /* width: ; */
        left: -6px;
    }
    .cardbox{
        left: 55px;
        margin-top: 600px;
        border: 0.5px solid rgba(53, 36, 36, 0.25);
    }
    .cardbox a{
        width: 100%;
    }
    .cardbox2 a{
        width: 100%;
    }
    .cardbox3 a{
        width: 100%;
    }
    .cardbox4 a{
        width: 100%;
    }
    .cardbox2{
        left: 55px;
        margin-top: 920px;
        opacity: 10;   
    }
    .cardbox3{
        left: 55px;
        margin-top: 1245px; 
        opacity: 10;
    }
    .cardbox4{
        left: 55px;
        margin-top: 1565px; 
        opacity: 10;
    }
    .cardbox h2{
        width: 100%;
    }
    .cardbox2 h2{
        width: 100%;
    }
    .cardbox3 h2{
        width: 100%;
    }
    .cardbox4 h2{
        width: 100%;
    }
    .heading h1{
        font-size: 30px;
        width: 100%;
        margin-top: 300px;
        left: 50px;
        line-height: 49px;
    }
    .heading p{
        margin-top: 540px;
        left: 50px;
    }
    .heading h5{
        margin-top: 450px;
        left: 50px;
    }
    .heading button{
        margin-top: 610px;
        left: 120px;
    }
    .container2 h1{
        font-size: 38px;
        left: 100px;
    }
    .map img{
        margin-left: -620px;
        width: 430px;
        height: 350px;
        margin-top: 640px;
    }
    .container2{
        width: 480px;
        height: 1000px;
    }
    .members{
       width: 10px;
    }
    #d{
        margin-top: 1200px;
    }
    footer{
        margin-top: 900px;
        width: 500px;
        height: 600px;
    }
    .feature{
        margin-bottom: 840px;
    }
    .container2{
        margin-top: 1030px;
        height: 1940px;
    }
    .feedback1,.feedback2,.feedback3,.feedback4{
        margin-top: 2900px;
        display: flex;
        flex-direction: column;
    }
    .side{
        display: none;
    }
    .cardmem1{
        left: 80px;
    }
    .cardmem1 h1{
        font-size: 18px;
        left: 35px;
    }
    .headline{
        margin-top: 1029px;
    }
    .headline img{
        left: -14px;
        width: 95px;
        height: 88px;
        margin-top: 119px;
    }
    .headline h1{
        font-size: 20px;
        margin-left: -235px;
        top: 95px
    }
    .feedback1{
        left: 62px;
    }
    .feedback2{
     margin-top: 3080px;
     /* line-height: -100px; */
     left: 62px;
    }
    .feedback3{
        margin-top: 3260px;
        /* line-height: -100px; */
        left: 62px;
    }
    .feedback4{
        margin-top: 3439px;
        /* line-height: -100px; */
        left: 62px;
    }
    .cardmem2{
        left: -359px;
        margin-top: 370px;
    }
    .cardmem2 h1{
        font-size: 18px;
        left: 35px;
    }
    .cardmem3{
        left: 87px;
        margin-top: 750px;
    }
    .cardmem3 h1{
        font-size: 18px;
        left: 35px;
    }
    .cardmem4{
        left: 87px;
        margin-top: 1120px;
    }
    .cardmem4 h1{
        font-size: 18px;
        left: 35px;
    }
    .btn button{
        margin-top: 680px;
        left: 90px;
    }
    .subscribe img{
        margin-top: 620px;
        width: 360px;
        margin-left: -165px;
        height: 140px;
    }
    .footlog img{
        margin-left: -90px;
        position: absolute;
        top: -90px;
    }
    .footlog h2{
        margin-left: -50px;
        top: -115px;
        font-size: 30px;
    }
    .content p{
        left: 20px;
        top: 120px;
    }
    .content h5{
        left: 20px;
        top: 170px;
    }
    .footlinks{
        left: 20px;
        top: 270px;
    }
    .footlinks a{
        font-size: 14px;
    }
    .bottomline{
        top: 500px;
        left: 2px;
    }
    .terms{
        left: -140px;
        top: 530px;
    }
    .terms a{
        font-size: 14px;
    }
    .footlinks2{
        left: 180px;
        top: 270px;
    }
    .footlinks2 a{
        font-size: 14px;
    }
    .footlinks3{
        left: 280px;
        top: 270px;
    }
    .footlinks3 a{
        font-size: 14px;
    }
    .socialmedia{
        left: 110px;
        top: 153px;
        font-size: 10px;
    }
    .socialmedia i{
        font-size: 18px;
    }
}