<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <section id="b">
        <div class="feature">
            <h1>Our Features</h1>
            <p>There are some things that should always be planned when setting up and developing a business. Here are 3 important features that we offer to help you move your project to the virtual world in the best way.
            </p>
            <div class="card">
                <i class="fa-solid fa-headset"></i>
                <h3>24/7 Support</h3>
                <p>Questions? Our round-the-clock support team is available to help anytime, anywhere.</p>
                <div class="carder">
                    <i class="fa-solid fa-credit-card"></i>
                    <h4>Protected payments, every time</h4>
                    <p>Always know what you'll pay upfront.Your payment isn't released until you approve the work.</p>
                </div> 
                <div class="card2">
                    <i class="fa-solid fa-clock"></i>
                    <h5>Quality work done quickly</h5>
                    <p>Find the right freelancer to begin working on your project within minutes.</p>
                </div>
            </div>
        </div>  
    </section>



    <hr style="margin-top: 75px;">
    
        <div class="banner">
            <img [src] ="Banner" alt="">
        </div>