<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section id="d">
    <div class="heading">
        <h1>Over 4200+ happy customers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h5 class="two">Fames ipsum pulvinar dictumst adipiscing et, augue phasellus id sapien.</h5>
        <button>Read More</button>
    </div>
    <div class="map">
        <img [src] ="Map">
    </div>
    
    <div class="container2">
        <div class="side1">
            <img [src] ="Ellipse" alt="">
        </div>
        <div class="side">
            <img [src] ="Ell">
        </div>
        <h1>Our Team</h1>

        <div class="members">
            <i class="fa-solid fa-circle-play"></i>
            <div class="cardmem1">
                <div class="back"></div>
                <img [src] ="pngfind2">
                <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
                <h1>Angela Taylor</h1>
                <div class="bord"></div>
                <h3>Graphic Designers</h3>
            </div>
        </div>

        <div class="members">
            <div class="cardmem2">
                <div class="back2"></div>
                <img [src] ="pngfind1">
                <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
                <h1>Chris Harsh</h1>
                <div class="bord"></div>
                <h3>Marketing Manager</h3>
            </div>
        </div>

        <div class="members">
            <div class="cardmem3">
                <div class="back3"></div>
                <img [src] ="pngfind3">
                <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
                <h1>Mike Taylor</h1>
                <div class="bord"></div>
                <h3>SIO</h3>
            </div>
        </div>

         <div class="members">
            <div class="cardmem4">
                <div class="back4"></div>
                <img [src] ="pngfind4">
                <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
                <h1>James Daber</h1>
                <div class="bord"></div>
                <h3>Devloper</h3>
            </div>
        </div> 
        <div class="play">
         <i class="fa-solid fa-circle-play"></i>
        </div>

        <div class="headline">
            <img [src] ="quote" alt="">
            <h1>What People Say About Us</h1>
        </div>

        <div class="feedback1">
            <img [src] ="Ellipse44" alt="">
            <h2>James</h2>
            <img class="star" [src] ="str" alt="">
            <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
        </div>

        <div class="feedback2">
            <img [src] ="Ellipse5" alt="">
            <h2>Leyla</h2>
            <img class="star" [src] ="twinkle" alt="">
            <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
        </div>

        <div class="feedback3">
            <img [src] ="Ellipse6" alt="">
            <h2>Laura</h2>
            <img class="star" [src] ="str" alt="">
            <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
        </div>

        <div class="feedback4">
            <img [src] ="Ellipse7" alt="">
            <h2>Smith W.B</h2>
            <img class="star" [src] ="str" alt="">
            <p>Though wished merits or be.Alone visit use these smart rooms ham</p>
        </div>

    </div>
</section>

<div class="btn">
    <button class="app">Make An Appointment</button>
</div>

<div class="subscribe">
    <img [src] ="Sub" alt="">
</div>